extends ../base

block content
    div.installer_btn
        a(href="interior/create").installer_btn_create create Interior &rarr;
        br
        a(href="interior/floor").installer_btn_floor floor Interior &rarr;