extends ../base

block content
    form(method="POST")
        input(type="text", name="rtitle",placeholder="Input reason",required,maxlength="20")
        textarea(name="rcontent", cols="30", rows="10",required,id="report",placeholder="input write reason ")
        input(type="submit",value="submit")
        input(type="submit",value="back")