extends ../base
block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="password",required,name="oldPassword",placeholder="Input Old-password")
        input(type="password",required,name="newPassword",placeholder="Input New-password")
        input(type="password",required,name="confirmPassword",placeholder="Confirm password")
        input(type="submit",value="Change Password")