extends ../base
block content
    form(method="POST")
        input(type="text", name="email",required,placeholder="Input Email")
        input(type="password", name="password",required,placeholder="Input Password")
        input(type="submit", value="Login")
    hr
    a(href="/join") Create account &rarr;